<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Blog</title>
</head>
<body>
    <h2>Our Customers</h2>
    <h3>List of Available Customers</h3>
    <ul>
        <li>Rajab Anisha</li>
        <li>Lee Min Hoo</li>
        <li>Shin Sheung</li>
        <li>Natukunda Michelle</li>
    </ul>
    <a href="{% url 'index_page'%}">Home</a>
    <a href="{% url 'provider_page'%}">Provider</a>
    <a href="{% url 'policy_page'%}">Policy</a>
    <a href="{% url 'payment_page'%}">Payment</a>

</body>
</html>