<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Blog</title>
</head>
<body>
    <h2>Payment Process</h2>
    <h3>How to pay for a policy??</h3>
    <ul>
        <li>Identify a desired policy</li>
        <li>Register choosen policy</li>
        <li>Sign the agreement</li>
        <li>Make payment for policy</li>
    </ul>
    <a href="{% url 'index_page'%}">Home</a>
    <a href="{% url 'provider_page'%}">Provider</a>
    <a href="{% url 'customer_page'%}">Customer</a>
    <a href="{% url 'policy_page'%}">Policy</a>
</body>
</html>