<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Blog</title>
</head>
<body>
    <h2>INSURANCE POLICIES</h2>
    <h3>List of Insurance Policies</h3>
    <ul>
        <li>Life Insurance</li>
        <li>Car Insurance</li>
        <li>Health Insurance</li>
        <li>Disability Insurance</li>
    </ul>
    <a href="{% url 'index_page'%}">Home</a>
    <a href="{% url 'provider_page'%}">Provider</a>
    <a href="{% url 'customer_page'%}">Customer</a>
    <a href="{% url 'payment_page'%}">Payment</a>

</body>
</html>