<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Blog</title>
</head>
<body>
    <h2>Service Providers</h2>
    <h3>List of Service Providers</h3>
    <ul>
        <li>Prudential Alliance Insurance</li>
        <li>UAP Insurance Company</li>
        <li>BITCOD Insurance</li>
        <li>Autobase Insurance</li>
    </ul>
    <a href="{% url 'index_page'%}">Home</a>
    <a href="{% url 'customer_page'%}">Customer</a>
    <a href="{% url 'policy_page'%}">Policy</a>
    <a href="{% url 'payment_page'%}">Payment</a>

</body>
</html>